__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
node_modules/
dist/
build/
.DS_Store
*.log
Videos/*.mp4
Videos/*.MP4
Videos/*.mov
Videos/*.MOV
Videos/*.avi
Videos/*.AVI
backend/ai/dataset/
backend/ai/models/saved_model.pb
backend/ai/models/variables/
